[2021-01-03 19:33] TheBoneJarmer opened #1 "Add JSON support"
Right now only the TMX format is supported. I prefer to extend the support for JSON maps as well. I already have plans to start with this but I git an issue. The structure of the map in JSON is different than the one in XML. And I am not talking about syntax.

Let's take objects for example. In the TMX format they are listed in a XML node called _ObjectGroups_, which is a direct child node of the

[2021-01-03 20:52] TheBoneJarmer commented on #1
I ended up with a compromise. I modified the class structure to fit the structure of the JSON format. This allows me in return to use NewtonSoft.Json's JsonConvert.Deserialize method. In theory JSON maps are supported now but not sure how I am going to implement that properly.

[2021-01-04 10:26] #1 closed

[2021-01-04 21:25] TheBoneJarmer opened #2 "Add support for MonoGame content pipeline"
According to several issues on the repo of TiledSharp, many users of MonoGame like to have a library like this to parse TiledMaps for their game. MonoGame however has its own way of loading assets using the content pipeline. And in order to make TiledCS work with MonoGame, some changes need to be made.

[2021-01-04 21:40] DelightedCat commented on #2
As far as I know, at least one requirement to get everything to work with the MonoGame content pipeline would be that the assets that can be loaded using the content pipeline have an empty constructor, so that they can be initialized and loaded as follows:
[code]
These types would include `TiledMap` and `TiledTileset`, assuming a separate importer will be used for tileset files.

I'll look into ge

[2021-01-04 22:05] DelightedCat commented on #2
Another thing I just realized: In order to support MonoGame, we'll need to support .NET Standard 2.0. This can be done by building the library for multiple targets by editing the following like in `TiledCS.csproj`:
[code]
Into the following for example:
[code]
Without this change it's impossible to use this library alongside MonoGame, let alone a custom content pipeline extension.

[2021-01-04 22:39] DelightedCat commented on #2
Currently working on an implementation of the library for MonoGame which can be found here: https://github.com/DelightedCat/TiledCS.MonoGame

[2021-01-04 23:30] TheBoneJarmer commented on #2
Now you mention it, I didn't realise it was set to net5.0. I mean, I knew but I was not aware it was not targeting netstandard2.0. As it is just a library we could just replace net5.0 with netstandard2.0. Thanks for clarifying that one out!

[2021-01-04 23:34] TheBoneJarmer commented on #2
Looks really good so far!

[2021-03-11 15:19] #2 closed

[2021-03-26 23:21] Goodlyay opened #3 "Loading a TiledMap when the map has tiles with rotations results in an Int32 OverflowException"
I'm using TiledCS as an easy way to get data from Tiled maps, since I'm building my world out of 3D object tiles and wanted an easy way to edit maps, and it's been very helpful so far (thank you!), but, as the title states, I ran into a problem.

I'm guessing this is due to the tile flipping being stored in bits 32, 31, and 30, as specified [here](https://doc.mapeditor.org/en/stable/reference/tmx-

[2021-03-26 23:33] Goodlyay commented on #3
I should probably provide an example map as well. Here is the one I'm trying to load.
[map.zip](https://github.com/TheBoneJarmer/TiledCS/files/6214744/map.zip)
And this tile is an example culprit:
![image](https://user-images.githubusercontent.com/7892772/112702501-f0002000-8e50-11eb-8456-d3bcec68522a.png)

[2021-03-26 23:37] TheBoneJarmer commented on #3
Hi there

First of all, thank you for the kind words. I really appreciate it! As for your issue, TiledCS does not cover all Tiled features as it was based on generic requirements. To be honest, the whole tile flipping thing does not ring a bell to me.  So this would require a bit of research on my end. But I'll take a look at it, no worries.

Also, thanks for sharing the map. I was typing this com

[2021-03-26 23:46] TheBoneJarmer commented on #3
I had a quick look and I agree with your analysis. The value is bigger than the max of an int. Will have to look for a good solution but I think the easiest one would be changing the ints to uints. But I'll take a look tomorrow or Sunday. It is 00:46 in my area now so I gotta catch some sleep.  :)

[2021-03-26 23:52] Goodlyay commented on #3
Thanks for the quick response. For now I'll probably try changing it to uint or keep as int (since having negative values can be useful...), but remove the rotation flags right as it's parsed and store those flags in a parallel array for easy access later.

[2021-03-29 07:11] TheBoneJarmer commented on #3
Hey, sorry for the late reply. I just merged your PR and will do a release soon as Tiled 1.5 has been released. Thanks a lot for your patience. If there is anything else, let me know. When the release is done I will close this issue.

[2021-03-29 09:52] TheBoneJarmer commented on #3
Alright, I made my changes and pushed them to develop. I moved your logic a bit here and there as you will see. Basically I just moved your logic to the TiledMap class and divided the GetRotations in multiple methods. I realized that while the official term is tile rotations, the editor labels them as flipping, which could be confusing.

Therefore I created new methods which are called IsTileFlipp

[2021-03-29 11:05] Goodlyay commented on #3
If I'm understanding correctly, you've renamed x and y to tileHor and tileVert because x and y is used to mean a precise pixel position on-screen? As opposed to the count of rows or columns a tile is located at.

[2021-03-29 11:17] TheBoneJarmer commented on #3
Yes, precisely. When you place objects in the editor you will notice that in the left pane, the x and y positions are floating points which represent the actual position in pixels. While the arguments these methods need are not those values but the horizontal and vertical position on the grid. Those can be located in the footer of the editor. But I was worried users would mistake the pixel precise

[2021-04-02 11:32] #3 closed

[2021-04-08 06:27] TheBoneJarmer opened #7 "Fix rotated tiles for json maps"
Up till now it is possible to deserialize the map from and to JSON, which is good. But this won't work with stuff like tile rotations. As the gid value of a rotated tile is bigger than the max of an int, the serialization would fail.

[2021-04-08 18:09] jorolf opened #8 "Parse Tiled objects from memory"
Currently this library only supports loading maps and tilesets directly from disk. In my project however I store multiple files in an archive and can't access them directly through a path. The Tiled objects already contain a private ``Parse`` method which could be exposed to support loading from e.g. a ``string`` object.

[2021-04-08 19:02] jorolf opened #9 "Support tilesets based on a collection of images"
Tiled supports tilesets that consist of one image per tile instead of one large tileset image. These are encoded through a image attribute (see [here](https://doc.mapeditor.org/en/stable/reference/tmx-map-format/#tile)).

[2021-04-08 19:14] TheBoneJarmer commented on #8
Hi @jorolf

You are correct, it does not yet support this. I don't think it is a bad idea to do it. Be aware though it would only be for the TMX/TSX format. I already had thoughts to add a constructor for streams as well. Might as well do that too while I'm at it.

[2021-04-08 19:22] TheBoneJarmer commented on #9
Hi @jorolf

I have to admit I didn't knew about that feature. I don't think it would be a problem to support it though. As I understood from the docs, I would have to define a new class called Image and use it as type for a field the Tile class. Still, it would be nice to be able to test it. Could you be so kind to share an example so I can see what it is you are trying to accomplish? Thanks!

[2021-04-08 20:20] delightedcat opened #10 "Add .editorconfig file to the project"
As the amount of contributors for this project seems to be growing, I would suggest adding a `.editorconfig` file to the project.  This file is a standard that helps keeping things like line endings, charsets, indents and whitespaces consistent.

It prevents and fixes problems with development across different operating systems and text editor configurations. For more information, check the [.edit

[2021-04-08 20:47] jorolf commented on #9
I've pushed my code to this repository: https://github.com/jorolf/osu-framework-tiled

The tileset I've mentioned is this one: https://github.com/jorolf/osu-framework-tiled/blob/master/OsuFrameworkTiled.Tests/Resources/Tilesets/default.tsx

Running the test project in the repository should open a window with a test scene however it crashes before that due to "broken" XML (The file in question was

[2021-04-14 12:41] TheBoneJarmer opened #11 "Replace GetSourceVector with GetSourceRect"
Bjorn himself made a good point in our Discord discussion that the helper method, _GetSourceVector_, is going to be a problem when new features are being introduced. Right now it can work based on the current requirements but in near features it may not be sufficient anymore. And that all have to do with the fact that the _GetSourceVector_ method is not returning absolute pixel values, more like t

[2021-04-21 21:31] TheBoneJarmer commented on #9
I finally found some time to work on this and used your tileset for testing. With the new version, 2.1.1, you should be able to load your tileset without an issue. Fun fact, when I loaded your tileset first I also got an exception. That was a mistake from my end as I assumed the Image node was always available.

However, that apparently is not the case when you create a tileset with individual til

[2021-04-21 21:32] TheBoneJarmer commented on #8
I just released a new version, 2.1.1, which now allows the manual parsing of the xml data for both maps and tilesets. Let me know if this works for you.

[2021-04-21 21:32] #11 closed

[2021-04-27 16:51] jorolf commented on #8
Yes, the loading works as expected.

[2021-04-27 16:51] #8 closed

[2021-04-27 16:52] jorolf commented on #9
Everything seems to work, I can access the single images and it doesn't crash anymore.

[2021-04-27 16:52] #9 closed

[2021-04-27 16:52] TheBoneJarmer commented on #8
Sweet, great to hear!

[2021-06-20 12:24] foreverWIP opened #12 "Support for Base64 tile layers"
Tiled offers the ability to encode tile data as base64 to reduce file size, and even has options for compression to reduce it further. In the past I've often found myself decoding and using these formats in game engine code so large maps could be stored in a much smaller size, and I'd love to see support for it come to this library. I have a fork ready that allows reading most of these base64 form

[2021-06-20 12:33] TheBoneJarmer commented on #12
Hey @foreverWIP

Thank you for your kind words, I really appreciate it! As for the base64 compression, it has not been implemented because it was never requested haha. So feel free to open a pull request (do target the **develop** branch please) and I'll have a look at your changes.

With kind regards,
TheBoneJarmer

[2021-06-29 19:46] TheBoneJarmer commented on #12
Hi @foreverWIP

I would like to let you know that I found some time to look at your changes. And they do look really good! I will have to perform some testing here and there to be sure everything keeps working but so far I can tell that you did a really great job. Well done!

With kind regards,
TheBoneJarmer

[2021-07-09 19:01] TheBoneJarmer commented on #12
Hi

Sorry for the late reply. I was extremely busy and got sick on top that so even less time. I just now merged your changes. I would like to thank you again for your input.

With kind regards,
TheBoneJarmer

[2021-07-09 19:01] #12 closed

[2021-07-24 22:56] RamiMorrar opened #15 "Any resources on how to use for MonoGame?"
I can't find a good resource to write my own Tiled Map to load the MonoGame Pipeline Tool. Any suggestions?

[2021-07-25 09:49] TheBoneJarmer commented on #15
Hi @RamiMorrar

Yes, please read the README. I devoted a special chapter on how to use TiledCS in MonoGame. In short, my colleague, @delightedcat, created a example project to demonstrate how it can be used. I would recommend to ask questions related to MonoGame implementations in his example project repository as he is the expert on the matter. I'm just responsible for TiledCS in general.

With k

[2021-08-01 11:58] #15 closed

[2021-08-30 14:27] alexshaunod opened #16 "Visible flag appears to be broken"
The state of the visible flag for layers doesn't appear to match the state of the visible flag in the Tiled Editor or XML.

[2021-08-30 20:40] TheBoneJarmer commented on #16
Hi @alexshaunod

Thank you for reaching out to us. Could you share with us what Tiled version you are using? Also, could you tell us if you are talking about any layer or a specific type of layer? Like tile layers or object layers.

With kind regards,
TheBoneJarmer

[2021-08-30 21:12] TheBoneJarmer commented on #16
Hi @alexshaunod

No need to gather more information. I discovered the bug myself too after some short research. I also fixed it right away and released a new version too. Could you update your nuget package version to 2.2.1 and let me know if things work for you?

With kind regards,
TheBoneJarmer

[2021-08-31 17:51] alexshaunod commented on #16
Not quite, Tile Layers appear to have the correct visible state. But objectgroups appear to be defaulting to true. (I have 3 objectgroups of the same name if that helps?)

[2021-08-31 18:30] TheBoneJarmer commented on #16
Hi @alexshaunod

My apologies, you are absolutely correct. I just checked and noticed I indeed forgot to add the same check over there as well. That said, I just did and pushed NuGet package 2.2.2. Can I once more ask you to try again and let me know if it fully works this time?

With kind regards,
Ruben Labruyere

[2021-08-31 19:09] alexshaunod commented on #16
Appear to all be working now thanks Ruben!

[2021-08-31 19:09] #16 closed

[2021-08-31 19:13] TheBoneJarmer commented on #16
Hi @alexshaunod

Awesome! And you are very welcome. I am happy I was able to help you out. Have a nice day and have fun coding and mapping. :D

With kind regards,
Ruben Labruyere

[2021-08-31 19:14] alexshaunod opened #17 "Add "Type" property to TiledTileset"
It would be useful if the default Type property was included in the loaded TiledTileset class members after being loaded. If you look in the .tsx file the type is defined alongside the ID within the <tile> tags. E.g <tile id="0" type="HitPolygon">.

I assume these types are usually included in Object definitions instead?

[2021-08-31 19:19] TheBoneJarmer commented on #17
Hi @alexshaunod

Are you talking about the type attribute on a property node or do you mean something different? If so, could you explain to me what you mean?

With kind regards,
Ruben Labruyere

[2021-09-01 09:08] alexshaunod commented on #17
If you open up a tileset (tsx) file and select a tile, you will see alongside it's ID it has Type, Width, Height, and in newer versions of Tiled "Probability". I was hoping we could parse the Type property as part of TiledTile.

[2021-09-01 09:50] TheBoneJarmer commented on #17
Hi @alexshaunod

Thank you for the information. I do understand now. I just checked it out with my test map and I do see indeed that a type property was added to the tile node. I can add it, no problem at all.

With kind regards,
Ruben Labruyere

[2021-09-01 09:57] TheBoneJarmer commented on #17
Hi @alexshaunod

I would like to let you know I just pushed NuGet package 2.2.3 which supports the type property of a tile. I decided to release it as a patch since the change itself is very very small. Can you let me know if it works?

With kind regards,
Ruben Labruyere

[2021-09-01 17:51] alexshaunod commented on #17
Type seems to come through correctly for me thank you :)

[2021-09-01 17:51] #17 closed

[2021-09-01 18:32] TheBoneJarmer commented on #17
Hi @alexshaunod

Glad to hear! If there is anything else, don't hesitate to open up an issue. Have a nice day and have fun mapping and coding! :D

With kind regards,
Ruben Labruyere

[2021-09-01 19:10] alexshaunod opened #18 "Tile Objects in objectgroup layers currently unusable"
One of my scenes relies on extracting the gid similar to how Tile Layers do it. However I noticed Tile Objects do not have the gid.

In the tmx file, here is an example on how a Tile Object looks inside an object layer:

[code]

You can find the gid value inside the <object>

(apologies for the issue spam, I'm converting my game from TiledSharp to TiledCS and its a bit of a hastle haha)

[2021-09-01 22:12] TheBoneJarmer commented on #18
Hi @alexshaunod

Not a problem at all! I'm happy to help. TiledCS is still rather new on the market compared to other Tiled libraries. That is why there is a good chance that some things are not included yet. And I mean, we are talking about Tiled. It looks basic but is actually really advanced. There is always something new to learn. And last time I spoke to Björn, he told me he had plans for eve

[2021-09-02 17:44] alexshaunod opened #19 "Missing Properties definition for Object Layers and Tile Layers"
You can define custom properties for Object Layers/ Tile Layers themselves, similar to how you can  define custom properties on Maps:

[code]

My previous TiledSharp implementation relied on this for certain layer wide parameters, would be handy to have in TiledCS

[2021-09-04 09:15] TheBoneJarmer commented on #18
Hi @alexshaunod

I would like to let you know that I just added support for object gids in the develop branch. Will release a new version soon. :)

With kind regards,
TheBoneJarmer

[2021-09-04 09:23] TheBoneJarmer commented on #18
Oops, did not meant to close it this fast haha

[2021-09-04 09:24] TheBoneJarmer commented on #18
Hi @alexshaunod

I just pushed NuGet package 2.3.0, could you pull it and tell me if it works now for you? This includes both your requested changes.

With kind regards,
TheBoneJarmer

[2021-09-04 09:27] TheBoneJarmer commented on #19
Hi @alexshaunod

I said this already in the other issue of yours, but for the sake of organizing I'll mention it here as well. I just pushed NuGet package 2.3.0, this includes both your requested changes. Let me know if it works for you :)

With kind regards,
TheBoneJarmer

[2021-09-05 12:17] alexshaunod commented on #19
The changes seems to be working fine, however I noticed the properties on my tiles are now null?

[2021-09-05 13:48] TheBoneJarmer commented on #19
Hmm.. That's odd. But I cannot seem to reproduce the issue. Could you send me your tsx file, please? If possible with tileset? Than I can compare your tileset with mine and see what is the difference.

[2021-09-06 08:49] alexshaunod commented on #19
Here is an example of a tsx file I'm using:

[code]

[2021-09-06 09:01] TheBoneJarmer commented on #19
Hi @alexshaunod

Thanks for sharing your tileset. Now, I copied it and loaded it locally and checked it but it all seems to work for me. Side not here, the objectgroup within a tile has no support yet. But I have to update TiledCS anyway for support for Tiled 1.7 so this will be included.

Anyways, as I can't reproduce the issue locally. Can you share what TiledCS version you are using right now?

[2021-09-06 09:05] TheBoneJarmer opened #20 "Support Tiled 1.7"
While I was busy at work, a couple of new Tiled versions were released. With 1.7 being the current one. I support Tiled 1.5. so far but clearly need to put some effort into supporting Tiled 1.7.

[2021-09-06 09:15] alexshaunod commented on #19
I'm parsing a "TiledTile" which I fetch from "TiledTileset". The .properties are what appear as null.

I'm using 2.3.0

[2021-09-06 10:01] TheBoneJarmer commented on #19
Hi @alexshaunod

Thanks for the info. In that case I'm lost. I just tried again loading your tileset file to be absolutely certain, which always load the properties of a tile successfully. I don't understand what could be going wrong.

@delightedcat
Could you help me out with this one? I would like you to pull the same NuGet version and load his tileset. Perhaps there is some caching issue at my s

[2021-09-06 11:03] delightedcat commented on #19
Thanks for reaching out, I'm going to have a closer look at this once I get home from work.

@alexshaunod To clarify: Are you having issues with the tile properties under the tileset tile level, or the properties under the object/tile layer level?

[2021-09-06 12:57] TheBoneJarmer commented on #19
@delightedcat

Allow me to answer that question. The issue he experiences is with the TiledTile.properties array. It seems that it worked before my changes and now it does not. But I can't seem to reproduce that.

@alexshaunod
Which reminds me. Could you uninstall version 2.3.0 and install the previous one? And could you tell me if the tile properties parsing still works for you in that version?

[2021-09-06 16:47] delightedcat commented on #19
Thank you, @TheBoneJarmer!

After setting up a quick test, I can conclude that parsing of the properties element is working as intended. The referenced TiledCS version in my testing environment is `2.3.0`. Have a look at the used code below:
[code]
This returns the following output in the console:
[code]
As can be seen, each `properties` field returns an array of `TiledPropery` that is not `null`.

[2021-09-06 17:58] alexshaunod commented on #19
UPDATE: Apologies for this, did some more investigating after work and it seems to be an issue with how Tiled saved my old layers. Creating a new layer with the tiles works for me now! :)

[2021-09-06 17:58] #19 closed

[2021-09-14 09:09] TwBurn opened #21 "Support for Layer Groups"
It seems Groups aren't supported, when I read a (v1.5) TMX file, which has layers in groups, those layers aren't available using `map.Layers`, nor is there a `map.Groups` property.

[2021-09-14 16:08] TheBoneJarmer commented on #21
Hi @TwBurn

You are correct, TiledCS does not support that yet. To be fairly honest, I did not knew about these groups until now. That said, after a short research it seems that supporting groups does not look too difficult to do. Thanks for letting us know. :)

With kind regards,
TheBoneJarmer

[2021-09-14 17:26] TheBoneJarmer commented on #21
Hi @TwBurn

I just pushed NuGet package 2.4.0. This contains support for groups and more. I noticed image layers are also a thing and it seemed like I was missing support for some properties too. Let me know if this works for you.

With kind regards,
TheBoneJarmer

[2021-09-14 18:11] TwBurn commented on #21
Thanks, that seems to work!
One small thing, the properties of the TiledGroup seem to start with a lowercase, instead of an uppercase letter. Eg, it's `TiledMap.Layers`, but `TiledGroup.layers` - but I see that there are more objects that have the lowercase convention. Is that on purpose?

[2021-09-14 19:34] TheBoneJarmer commented on #21
Yes, it is. Because in C# fields are written in camel case while properties, methods and classes are written in pascal case. And I purposely did not use auto-properties on the models because there was no point to it. :)

[2021-09-14 19:35] TheBoneJarmer commented on #21
Ok, forget my previous deleted comment (you probably got mail already so you know what I replied). I misread. It is not on purpose. The TiledMap.Layers should in fact be TiledMap.layers. Well spotted! Will be changed with the next version.

[2021-09-14 19:40] TheBoneJarmer commented on #21
Okay, forget it haha. Clearly I need to go to bed because I am mixing things up here. Sooo forget all I said up till now and just stick to this answer: Yes it is on purpose. The TiledMap.Layers is an auto-property, which are written in **PamelCase** by convention. And the fields in the models are well, fields. Those are written in **camelCase** by convention. That is why the difference exist.

Tha

[2021-09-14 19:40] #21 closed

[2021-09-15 06:53] #7 closed

[2021-09-15 06:56] TheBoneJarmer opened #22 "Fix JSON support"
Up till now the idea was to have the tiled maps being (de)serialized from JSON string input.. However, it has become clear to me  that this approach may have been enough for earlier versions but I started realizing more and more differences between the XML format and the JSON format. Hence, simply (de)serializing won't cut it anymore. Therefore I would like to use a different approach.

With Newto

[2021-09-15 14:19] TheBoneJarmer commented on #18
Hi @alexshaunod

I have not heard back from you so I am going to assume everything works for you. Closing the ticket.

With kind regards,
TheBoneJarmer

[2021-09-15 14:19] #18 closed

[2021-10-19 00:01] Bryan-Legend opened #24 "Type of tiledLayer.offsetX and tiledLayer.offsetY should be double instead of int"
Got a parse error in ParseLayer because the offset for an image layer was not a whole number.

Change it to this:
`                if (attrOffsetX != null) tiledLayer.offsetX = double.Parse(attrOffsetX.Value);
                if (attrOffsetY != null) tiledLayer.offsetY = double.Parse(attrOffsetY.Value);
`

[2021-10-19 01:34] Bryan-Legend commented on #20
I've added infinite layer support in #25

[2021-10-19 01:34] Bryan-Legend commented on #24
Fixed in #25

[2021-10-31 09:35] Goodlyay opened #27 ""Background Color" map property missing"
Hello again!
As the title states, the TiledMap property "backgroundcolor" (as it is written in the .tmx file) is not available through TiledCS.
I'm not sure how this data should be represented in the class, but at least for my purposes it doesn't matter how it is stored as long as I can access it.

[2021-10-31 09:37] Goodlyay commented on #27
My temporary workaround does this
![image](https://user-images.githubusercontent.com/7892772/139576405-924c7b2e-5bd5-4412-9dff-efab2e9ca04d.png)
But it is obviously not acceptable to use Unity color here so I didn't make a pull request.

[2021-11-01 10:33] TheBoneJarmer commented on #27
Hey @Goodlyay

Thanks for opening up an issue. Will give it  a look today. Seems pretty straightforward to do. My apologies for the inconvience.

With kind regards,
TheBoneJarmer

[2021-11-01 11:01] TheBoneJarmer commented on #27
Hi @Goodlyay

Since the change was this small I already went ahead and pushed a new package under version 2.4.2. It includes only a change for the missing support for the backgroundcolor property. So hence the patch release. Let me know if it works for you. :)

With kind regards,
TheBoneJarmer

[2021-11-01 11:15] Goodlyay commented on #27
Perfect, works great. Thanks!

[2021-11-01 11:15] #27 closed

[2021-11-17 22:24] parthier opened #28 "Unable to access points of polygon object (?)"
I'm not sure if I'm missing something because I'm pretty new to this, but since I don't know where else to ask or contact you I thought I'd open this issue. When I've got an object of type TiledObject there seems to be no way to access the points of the polygon (if it's a polygon). Is that currently not possible or am I missing something?

[2021-11-17 22:49] TheBoneJarmer commented on #28
Hi @parthier

Thank you for reaching out! And for further references, opening an issue is always the best way to go if you are unsure. It is true that polygons are currently unsupported. To be fair, you'd be the first one to talk about it since ages so I honestly completely forgot all about the feature. That said, I'll add support for it of course.

With kind regards,
TheBoneJarmer

[2021-11-17 23:19] TheBoneJarmer commented on #28
Hi @parthier

Support has been added. Changes are in develop now but will publish a release soon. :)

With kind regards,
TheBoneJarmer

[2021-11-18 09:20] parthier commented on #28
Wow, that was fast! And thank you a lot for this awesome library.

[2021-11-18 09:20] #28 closed

[2021-11-24 09:26] vpenades commented on #22
If you ever switch to json, don't use newtonsoft, use System.Text.Json which is the new kid on the block, and future proof json serialization library.

[2021-11-24 10:56] TheBoneJarmer commented on #22
Hi @vpenades

Thanks for the recommendation! Just out of curiosity though, why should I prefer System.Text.Json over NewtonSoft? Because the former has proven itself stable and has been the standard for json parsing for like a decade. Heck, in my career I never even considered using something else since it simply works.

With kind regards,
TheBoneJarmer

[2021-11-24 11:04] vpenades commented on #22
System.Text.Json has mostly the same funcionality of Newtonsoft, so in that aspect there's not much difference.

But, on large projects, it is fairly common to depend on libraries that also depend on _different versions_ of newtonsoft, which is a source of conflicts.

System.Text.Json addresses this issue, because in Net5 and above, it is implicitly included (you don't need to reference any nuget

[2021-11-24 11:16] TheBoneJarmer commented on #22
That actually sounds like a very legit reason. Thanks! It is true that with more dependencies, which also use NewtonSoft.Json, more conflicts rise. That said, I will have to further investigate this since I will have to do some more research on backwards compatibility because you mentioned .NET 5. So the first question that pops to my mind is if this feature is also supported on older versions of

[2021-11-24 11:19] vpenades commented on #22
For older version, I usually do multi targeting:

[code]

[2021-11-24 11:24] TheBoneJarmer commented on #22
Oh sweet, thanks. Did not realize System.Text.Json was a NuGet package too. So if I understand correctly, from .NET 5 and onward, this functionality if part of the .NET SDK. But for older versions it is not? So for older versions I need to reference the NuGet package instead. Ok, that sounds like a plan to me.

[2021-11-24 11:26] vpenades commented on #22
Yes, same story as with System.Numerics.Vectors, System.Buffers, and so on

[2021-11-24 11:26] TheBoneJarmer commented on #28
Hey, not a problem at all. Thanks a lot for the kind words! :D

[2021-11-25 12:35] vpenades opened #29 "Unit tests and some serialization cleanup"
Hi, I've been tinkering with the library, and I felt like doing some additions I need.

I've forked the library here: https://github.com/vpenades/TiledCS

And I've did these changes:
- Constrained to C# LangVersion 5 (which is a requirement of MonoGame)
- Added much needed unit tests
- Deserialization code has been simplified a bit (partially forced due to LangVersion 5)
- Added debugger display a

[2021-11-25 17:06] TheBoneJarmer commented on #29
Hi @vpenades

First of all, thanks a lot for the effort you put into this. I have not had the time yet to look at your fork but will do so later. That said, concerning the LangVersion 5 requirement. I am purposely not aiming at any game engine or framework so I can keep it generic.  Because once you start modifications specific for another framework or engine, you won't stop and at a certain point

[2021-11-25 17:33] vpenades commented on #29
Regarding LangVersion 5, this requires a bit of an explanation:

MonoGame is stuck at Net4.5 not only at the framework level, but also at language level (ver 5), the reason is because MonoGame is able to target console platforms, like Nintendo Switch and Playstation.

Apparently, console platforms require AOT compilation, which so far, it's not possible for C# yet, so they developed their own cros

[2021-11-25 17:57] delightedcat commented on #29
May I ask which version of MonoGame you are running? I remember .NET Framework 4.5 being a requirement for older framework versions ([3.7](https://community.monogame.net/t/monogame-3-7-1/11173) was the last) but since the release of [MonoGame 3.8](https://community.monogame.net/t/monogame-3-8/13312), games are able to run using .NET Core 3.1 and even .NET 5.0. I'm not an expert in terms of console

[2021-11-25 18:19] vpenades commented on #29
I'm using MonoGame 3.8 desktop because I'm the maintainer of a long running project... But I'm beginning to hate it because the lack of support.

Si to be clear, if you're happy with supporting latest lang version

[2021-11-25 18:19] vpenades commented on #29
, I'm happy to

[2021-11-25 19:52] TheBoneJarmer commented on #29
I have had a look at Brute as well and am quite surprised about the state that it currently is in. Like my friend said, it is not only outdated but also, the links to GitHub are all broken. So either the source is lost or closed. And I am guessing not up-to-date too. With other words a total mess. It does not surprise me in any way that there is an ongoing discussion regarding the use of Brute or

[2021-11-25 20:08] TheBoneJarmer commented on #29
And as for the whole issue concerning C# 5. If I understand correctly now, Brute does not work with C# versions bigger than 5, right? Because if that is the case I cannot do this. Not just only for reasons mentioned earlier but also in regard to other users. Constraining to a certain version could break versions of Tiled for everyone else.

Don't take me wrong here, I feel for you. I personally do

[2021-11-25 20:10] TheBoneJarmer commented on #29
Yea sorry 'bout that. I re-read my own README and kinda have to admit that it was not properly formulated. What I meant to say is that TiledCS is aimed at game frameworks and game engines, on a general way. As in, it is not tailored for it but can be used for it using the extension libraries.

[2021-11-26 08:19] vpenades commented on #29
yes

No, LangVersion 5 has effects only when compiling TiledCS itself, it does not affect anybody from consuming TiledCS from higher frameworks and LangVersions.

Anyway, I've already removed the LangVersion restriction on my fork, as I said, if it doesn't bother you, it's better to get rid of it

[2021-11-26 09:00] vpenades commented on #29
On the infinite grid support, I've read the PR that was cancelled, about the issue of "merging" the grids; I agree trying to merge is a mistake because it would require too much memory.

I think the right solution is to _virtualize_ the access to the map cells.

Consider this interface:

IOrthogonalLayerView
{
    TileInfo GetTile(int x, int y);
}

This interface can be implemented by two accessor

[2021-11-26 13:30] vpenades commented on #29
Okey, in the last commits of my fork, I've refactored the xml serialization code to be much more generic, and also added chunk decoding for infinite maps

[2021-12-09 03:21] Bryan-Legend opened #31 "Feature Request: Tileset Collision Polygons"
Thank you for adding support for object geometry in the last release.

Could you please add support for tile collision geometry? Attached is an example tileset.

Here is what the data looks like:

[code]

[Tileset Collision Example.zip](https://github.com/TheBoneJarmer/TiledCS/files/7681956/Tileset.Collision.Example.zip)

[2022-02-10 20:59] odeycodey opened #33 "Add "Parallax Origin" parameter to Object Layers"
As part of Tiled 1.5, they added support for Parallaxing object layers, would be handy for devs to have access to the "Parallax Origin" property they've added under the object layer (see here: https://www.mapeditor.org/2021/03/23/tiled-1-5-0-released.html)

[2022-04-07 02:20] lonely-unicorn commented on #31
Hi

I was wondering if this feature is ready now to be added?

Thx

[2022-04-08 15:43] ghost opened #35 "STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE"
STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE

[2022-04-08 16:02] ghost opened #36 "STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE"
STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE

[2022-04-08 21:15] ghost opened #37 "STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE"

[2022-04-08 21:15] ghost opened #38 "STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE"

[2022-04-08 21:16] ghost opened #39 "STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE"

[2022-04-08 21:16] ghost opened #40 "STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE"

[2022-04-08 21:16] ghost opened #41 "STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE"

[2022-04-08 21:16] ghost opened #42 "STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE"

[2022-04-08 21:16] ghost opened #43 "STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE"

[2022-04-08 21:16] ghost opened #44 "STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE"

[2022-04-08 21:16] ghost opened #45 "STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE"

[2022-04-08 21:16] ghost opened #46 "STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE"

[2022-04-08 21:16] ghost opened #47 "STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE"

[2022-04-08 21:16] ghost opened #48 "STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE"

[2022-04-08 21:16] ghost opened #49 "STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE"

[2022-04-08 21:16] ghost opened #50 "STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE"

[2022-04-08 21:16] ghost opened #51 "STOP POLLUTING THE INTERNET WITH THIS SHIT SOFTWARE"

[2022-04-08 23:56] #35 closed

[2022-04-08 23:56] #36 closed

[2022-04-08 23:56] #37 closed

[2022-04-08 23:56] #38 closed

[2022-04-08 23:56] #39 closed

[2022-04-08 23:56] #40 closed

[2022-04-08 23:56] #41 closed

[2022-04-08 23:56] #42 closed

[2022-04-08 23:56] #43 closed

[2022-04-08 23:56] #44 closed

[2022-04-08 23:56] #45 closed

[2022-04-08 23:56] #46 closed

[2022-04-08 23:56] #47 closed

[2022-04-08 23:56] #48 closed

[2022-04-08 23:56] #49 closed

[2022-04-08 23:56] #50 closed

[2022-04-08 23:56] #51 closed

[2022-04-09 18:17] TheBoneJarmer commented on #33
Hey

I am sorry for the late reply. I just added support for parallax origin for both the layers **and** map. It will be included with the next major release.

With kind regards,
TheBoneJarmer

[2022-04-09 18:55] #33 closed

[2022-04-09 18:56] TheBoneJarmer commented on #31
Hey

I am sorry for the late reply. Earlier today I finished adding support for this. It will be included with the next major release, which will come soon.

With kind regards,
TheBoneJarmer

[2022-04-09 18:56] #31 closed

[2022-04-09 18:58] Bryan-Legend commented on #31
Thank you so much! Perfect timing for me. :)

[2022-04-09 19:05] TheBoneJarmer opened #52 "Infinite layer support"
A while ago a pull request got opened for the support of infinite layers. I had to reject the pull request but the need for it is valid and therefore I should look into adding support for it.

[2022-04-09 19:06] TheBoneJarmer commented on #52
@Bryan-Legend fyi

[2022-04-09 19:09] TheBoneJarmer commented on #29
Hey

I am going to close this issue since it stranded a bit. I have to be honest, I did not look into it further. But I would like to wait with unit testing anyway. To be fair, need to hone my unit test skills for C# a bit further in order to do so properly. Yea I know, shame on me lol.

Concerning the support for infinite layers, I created a separate issue for it so I can use that to focus on it.

[2022-04-09 19:09] #29 closed

[2022-04-09 19:14] Bryan-Legend commented on #52
Very cool!

[2022-04-09 19:15] TheBoneJarmer commented on #24
Hey @Bryan-Legend

Sorry for the late reply. I fixed this along with your request for parallax support. I did not use a double in the end but a float because I have done so everywhere else. Therefore this will be fixed with the next major version.

With kind regards,
TheBoneJarmer

[2022-04-09 19:15] #24 closed

[2022-04-09 19:17] TheBoneJarmer commented on #22
I am going to close this one. It is a lot of work to implement this manually, let alone being easy. So far nobody requested this actually and everyone uses the xml format anyway as far as I have noticed.

[2022-04-09 19:17] #22 closed

[2022-04-09 19:18] TheBoneJarmer commented on #20
Eventually added support for Tiled version **1.8.4**.

[2022-04-09 19:18] #20 closed

[2022-04-09 20:32] Bryan-Legend commented on #31
I've not looked at how you did this, but could it possibly use a Vector2 class like this: https://docs.microsoft.com/en-us/dotnet/api/system.numerics.vector2?view=net-6.0

[2022-04-09 20:40] TheBoneJarmer opened #53 "Missing xml comments"
I got some build warnings indicating there are some missing xml comments on some fields

[2022-04-09 20:52] TheBoneJarmer commented on #31
Gosh. Possible, yes, but I do not think it adds anything of value. If nothing else, it only introduces more problems. The thing is, there are many projects who implement their version of a vector2. Like MonoGame has their version, Unity does so as well and so on. And some of the issues that could appear are:
* Name conflicts since a lot of people use the name _Vector2_.
* Users would have to add a

[2022-04-09 21:01] Bryan-Legend commented on #31
It's pretty easy to convert. I just think it's important to have the right structure.

I think Unity already has converters to the standard System.Numerics.Vector2 struct.

[2022-04-09 21:06] TheBoneJarmer commented on #31
Yea okay, but still. The issues I described would still apply for everyone else. And I do not really see any added value by doing so. If would only frustrate others I think due the fact they now have to make a change merely because of someone's preference. It would have been a different case if I would have started out with a Vector2 class or struct.

[2022-04-10 01:21] monogamefan opened #54 "monogame pipeline"
Hi

Could you maybe add a monogame pipeline?
Not esy to find a library for monogame that has a Tiled pipeline

[2022-04-10 01:23] monogamefan opened #55 "code examples"
Hi

I'm looking for code examples especially to read all layers from a Tiled map.
Maybe you can make an 'examples' folder with code to do the most common things?

Is it also possible with this library to read the type of each Tile?
In my game I try to find out on which kind of tile (grass or road ..) the player is standing.

[2022-04-10 01:26] monogamefan opened #56 "tiled 1.9?"
Hi

I see tiled 1.8.4 is going to be supported but now there is Tiled 1.9 alpha
Do you know if there is another change in the format or will tiledcs still work with 1.9?
I read automapping is changed (or something I don't use)

[2022-04-10 01:28] monogamefan commented on #54
I just read this:

A huge thanks to DelightedCat who created a MonoGame pipeline. Although the pipeline isn't officially included in this library (as we both agreed to keep it standalone and not engine-based), you can ask help and questions here as DelightedCat is an official maintainer.

Where can I download this pipeline?
I'm very interested!

[2022-04-10 07:11] TheBoneJarmer commented on #54
Hey

I am sorry but I am not going to do this. TiledCS is a generic library that does not aim at a specific game framework or engine. And I am also sorry for the confusion caused by that line in the README. DelightedCat is no longer working with MonoGame and has therefore drawn back the project entirely. I asked him if he still has it somewhere but alas. I updated the README in the meantime.

The

[2022-04-10 07:11] #54 closed

[2022-04-10 07:18] TheBoneJarmer commented on #55
Hey

When you talk about layers, do you mean tile layers or object layers? Tiled treats them both as layers but they are fundamentally very different. So I am gonna assume you mean tile layers. You can access _all_ layers using the `TiledMap.Layers` property. This is an array of type `TiledLayer`. And the `TiledLayer` class contains a field called `type`. So you can use Linq to fetch all layers wh

[2022-04-10 07:19] TheBoneJarmer commented on #56
Hi

I am going to look at Tiled 1.9 support when the alpha release has become the next stable one. Version 1.8.4. is the latest stable as to date.

With kind regards,
TheBoneJarmer

[2022-04-10 07:19] #56 closed

[2022-04-10 15:47] monogamefan commented on #55
Hello

As a beginner I cna't understand this library without any docs or complete examples.

Can you make a Tiled map, read it and show all information by using your library (both type of layers)?
Then put the code in the "examples" folder?

You say MonoGame has no docs, but your library is the same considering docs or examples :-)

[2022-04-10 16:42] TheBoneJarmer commented on #55
I gave you an example of how you can fetch all tilelayers. So to fetch all object layers just do the same but with `objectgroup` as type value. Then loop through the result and use either the `Layer.data` field in case of tile layers or the `objects` field in case of object layers.

Really it is not that difficult and you can easily figure out the rest if you toy around a bit. I have over 50 users

[2022-04-10 17:04] monogamefan opened #57 "feature request: support for embedded tilesets"
Hi

I would like to request support for embedded tilesets.
I can't get it to work with tiledCS for now :(

[2022-04-10 17:10] monogamefan commented on #55
No, you don't understand my question...

I ask nothing about monogame or any other library. I specificly ask about TiledCS and how to read all possible things from a Tiled map.

I ask a code example of TiledCS *ONLY* that reads an example map yout provide which has everything inside TiledCS can read  (the 2 types of layers, etc etc).
Even with your explanation I don't find how to do it. I'm a comp

[2022-04-10 17:21] monogamefan commented on #55
What about my question about the Tile type? How to do this?

So you can see, a full code example with an example map is the best for me.
There is a BIG difference between your knowledge as a library developer and mine, as a library user...

[2022-04-10 17:28] TheBoneJarmer commented on #55
Ah ok, yea I assumed you wanted to know how to get stuff done in MonoGame since your nickame as well as your previous issues. I think I understand what you are asking. But I do not think an example will do either way. You need something visual that you can link to your code. Otherwise there is no point since an example will just demonstrate a made-up case in which some could use TiledCS. But you l

[2022-04-10 17:35] monogamefan commented on #55
As a beginner to Tiled, its file format and structure and your TiledCS, I can't figure it out myself.
But a full code example with a map you made to demonstrate the data TiledCS can read, will still help me.
Why you don't want to give code examples is a mystery for me (I asked it 2 times now).
(screenshots etc would be not required at first, I'm happy with a code example that shows a complete exam

[2022-04-10 19:23] TheBoneJarmer commented on #55
Okay look, it is not about not willing. It is about me trying to figure the heck out what it is you want to accomplish. And on top of that it sounds like you are mixing some stuff up, making your whole request annoyingly confusing. I am only trying to help you so please put some effort into giving me the details I need instead of being this impatient. I lose time with this discussion too and I am

[2022-04-10 19:25] TheBoneJarmer commented on #57
You are correct, it is not. TiledCS only supports external tilesets for now. I will add support in the next version. :)

[2022-04-10 20:34] monogamefan commented on #55
My question (for the last time): you write a library and give NO docs or examples.
I kindly ask you to write some docs (what methods are there, how to use them etc) or a FULL code example that shows how to use your library on an example map.

[2022-04-10 20:41] monogamefan commented on #55
I give an example because I don't know how else to explain it to you.

Here is the monogame-aseprite library: https://github.com/manbeardgames/monogame-aseprite

Here is a full code example how to use it (each method has comments what's it doing and also variables have comments):

https://github.com/manbeardgames/monogame-aseprite-demo/blob/stable/monogame-3.8-demo/MonoGame.Aseprite.Demo/Game1.cs

[2022-04-10 21:25] TheBoneJarmer commented on #55
Ok, now that is exactly what I needed to hear. And thanks for the examples, that did cleared up a thing or 2. Here is what I am gonna do:

* Generate a code documentation (practical)
* Use the GitHub wiki or something similar for an extended documentation (functional)
* Provide an example project where I will be using a game framework to show results although it wont be MonoGame btw

I think that

[2022-04-10 21:40] monogamefan commented on #55
Great!
Please use any feature you have in TiledCS in the example project (just 1 usage of each feature somewhere). You then can add things when more features are implemented (or slightly changed, some method has changed or parameters, ...)

[2022-04-10 21:52] monogamefan opened #58 "feature request: collisions using collision editor"
Hi

Do you think you can implement collisions of Tiled by using the collision editor?
I believe they are stored in the tilesets and define collisions for each tile type.
In the tilemap they are then used by looking at the tileset.

I don't know if this is possible and if this is usable in an engine.
This is where the example project comes in handy to find out ;-)

[2022-04-10 21:56] TheBoneJarmer commented on #58
Hi

They are already supported as of the latest release. They are stored in the `TiledTileset.Tiles.objects` array.

With kind regards,
TheBoneJarmer

[2022-04-10 21:56] #58 closed

[2022-04-11 21:36] monogamefan opened #59 "how to loop through Tiles in a layer?"
Hi

In the past I used TiledSharp and looped through a tiled map to draw it like this (below is TiledSharp code).
I changed the code to TiledCS and try to get all layers of a map using:

map.Layers[i]

then I can't get the list of Tiles by doing map.Layers[i].Tiles

There doesn't exist a way to get all Tiles from a layer. How to loop through all tiles then in a for-loop?

How to do this please?
Pl

[2022-04-12 05:47] TheBoneJarmer commented on #59
Hey

Within a layer whose `type` equals that of `tilelayer`, exists a field of type `int[]` called `data`. This array represents the gids of all tiles. A gid is a tile **index** from a tileset, _not_ the tile id as some think. In order to render a specific tile from a tileset into your spritebatch, you would need to link the gid to a tileset.

Tiled stores its tiles as a gid value, which is an ind

[2022-04-12 16:02] monogamefan commented on #59
I don't understand ANTYHING of your library and therefore keep using TiledSharp.
Your library makes everything more complicated then needed.

[2022-04-12 16:05] monogamefan opened #60 "layer names"
Layer names are NOT possible to get with your library too.

Here how easy it is in TiledSharp:

         collisionObjects = new List<Rectangle>();
            foreach (var o in map.ObjectGroups["Collisions"].Objects)
            {
                collisionObjects.Add(new Rectangle((int)o.X, (int)o.Y, (int)o.Width, (int)o.Height));
            }

In your library no MAN ON EARTH knows how to do this

[2022-04-12 16:10] monogamefan commented on #60
THE REASON A LIBRARY EXISTS IS TO MAKE IT EASIER FOR THE USER AND NOT TO MAKE IT HARDER

[2022-04-12 16:12] monogamefan commented on #60
MISTER THEBONEWANKER

[2022-04-12 16:13] monogamefan commented on #59
STUPID CRAP TILEDCS

[2022-04-12 16:13] monogamefan commented on #55
PUT YOUR EXAMPLES IN YOUR UGLY ASS
NOBODY USES YOUR LIBRARY ANYWAY
EVERYBODY USES TILEDSHARP

[2022-04-12 16:29] #60 closed

[2022-04-12 16:29] #55 closed

[2022-04-12 17:56] TheBoneJarmer commented on #59
Okay enough. I gave exactly what you asked and it is still not enough. Just fuck off and leave me in peace. All you do is bitch about TiledCS when you try nothing at all. I am tired of dealing with this crap and I would like to let you know I reported you and I am going to block you.

[2022-04-12 17:56] TheBoneJarmer commented on #59
And I am opening this again as my reply may help others.

[2022-04-12 17:57] TheBoneJarmer commented on #59
And don't play stupid. I know it is you Jess. First you spam my Discord, my email and my GitHub by opening up over 18!! issues. Enough is enough.

[2022-04-12 18:06] #59 closed

[2022-04-20 15:47] Bryan-Legend opened #61 "TiledObject.rotation should be a float not an int."
Change ParseObjects as well.

`if (node.Attributes["rotation"] != null)
                {
                    obj.rotation = float.Parse(node.Attributes["rotation"].Value);
                }`

[2022-04-25 15:36] nosferatu500 opened #62 "Let's help other people figure out how to use your library with Monogame."
Hi! Thank you for this library.

Your example of use case is good, but not really clear in the context of Monogame.

It took a while to figure out how to use it with Monogame until I found this repo:

[https://github.com/Temeez/TiledCS-MonoGame-Example](https://github.com/Temeez/TiledCS-MonoGame-Example)

I think it will be very helpful for other people if you add this link to Readme.md.

[2022-04-25 17:32] TheBoneJarmer commented on #61
Hey

Sorry for the late reply. I will fix this asap but my current priority lies with my new TeamCity server and some c++ projects. I hope to be able to automate builds and releases in the near future, including the ones for TiledCS.

With kind regards,
TheBoneJarmer

[2022-04-25 17:41] TheBoneJarmer commented on #62
Hey

You are welcome! I am happy that you like the library. And thanks a lot for the link!! I was hoping somebody would make an example on how to use it in MonoGame sooner or later as I get that question a lot. But I am not using MonoGame at all so I would not know how to. Therefore I must always decline adding support for MonoGame directly in TiledCS.

Will contact the author and request permissi

[2022-04-25 18:12] TheBoneJarmer commented on #62
Hey

I just contacted Temeez and he already replied back. It was a good idea for me to contact him because it turns out he is indeed not actively working with C# or MonoGame for that matter. So he wont update the repo anymore. That said, he gave me permission to add his link anyway so I will add it.

With kind regards,
TheBoneJarmer

[2022-04-26 03:25] evilkomododragon commented on #62
@nosferatu500 : You can use monogame.extended to have a very easy to use Tiled library for monogame, including content pipeline for Tiled

[2022-04-26 06:09] TheBoneJarmer commented on #62
Hello Jessica or Lisa or whatever your real name is. Please do not advert other Tiled libraries here just because you did not get your way last time. Thanks.

[2022-04-26 08:50] TheBoneJarmer opened #63 "Add support for embedded tilesets"
Like the title says really. Currently only external tilesets are supported but I should add logic to support internal or _embedded_ tilesets as well.

[2022-04-28 10:18] TheBoneJarmer commented on #52
Hey @Bryan-Legend

Wanted to let you know I implemented support for infinite layers. It will become available with the next minor release.

With kind regards,
TheBoneJarmer

[2022-04-28 10:18] #52 closed

[2022-04-28 10:21] TheBoneJarmer commented on #61
Hi @Bryan-Legend

I wanted to let you know I fixed this just now. It will become available within the next minor release.

With kind regards,
TheBoneJarmer

[2022-04-28 10:21] #61 closed

[2022-04-28 10:46] TheBoneJarmer commented on #62
There, link has been added. When I merge develop into main, the readme changes will be available there too.

[2022-04-28 10:46] #62 closed

[2022-04-28 11:35] TheBoneJarmer commented on #10
I am gonna decline this for the time being. It is true it could be handy but I do not do anything different than Visual Studio's defaults. Usually when I approve someone's pull request I modify their code slightly anyway to fit the overall style because I am too lazy to ask the authors to do so. lol

[2022-04-28 11:35] #10 closed

[2022-04-28 15:01] Bryan-Legend commented on #61
Thanks!

[2022-05-22 01:11] pixelart-girl opened #64 "SUCK MY MOTHERFUCKING CLIT"

[2022-05-22 01:12] pixelart-girl opened #65 "SUCK MY MOTHERFUCKING CLIT"

[2022-05-22 01:12] pixelart-girl opened #66 "SUCK MY MOTHERFUCKING CLIT"

[2022-05-22 01:13] pixelart-girl opened #67 "SUCK MY MOTHERFUCKING CLIT"

[2022-05-22 01:13] pixelart-girl opened #68 "SUCK MY MOTHERFUCKING CLIT"

[2022-05-22 01:13] pixelart-girl opened #69 "SUCK MY MOTHERFUCKING CLIT"

[2022-05-22 01:13] pixelart-girl opened #70 "SUCK MY MOTHERFUCKING CLIT"

[2022-05-22 01:13] pixelart-girl opened #71 "SUCK MY MOTHERFUCKING CLIT"

[2022-05-22 01:13] pixelart-girl opened #72 "SUCK MY MOTHERFUCKING CLIT"

[2022-05-22 01:13] pixelart-girl opened #73 "SUCK MY MOTHERFUCKING CLIT"

[2022-05-22 01:14] pixelart-girl opened #74 "SUCK MY MOTHERFUCKING CLIT"

[2022-05-22 01:14] pixelart-girl commented on #63
SUCK MY MOTHERFUCKING CLIT

[2022-06-28 05:32] kaltinril opened #75 "Thought/Feature Request - Create method to draw Tile Map with user passed in function"
I haven't started using TiledCS yet but plan on trying it out instead of Monogame.extended.  I've run into a few issues with trying to get extended to work with Monogame 3.8 related to content pipeline.

**Thought Setup:** In your example, and tameez example, both are showing different ways to iterate over the tiles in a map so they can be drawn.  These are great, and a user of TiledCS can just ta

[2022-06-28 07:50] TheBoneJarmer commented on #75
Hey @kaltinril

Thanks a lot for your idea! I do not have a Discord for TiledCS indeed as I honestly didn't think I was gonna need one. And I'm not planning to open up one in the future. But perhaps who knows? Anyhows, about your idea. If I understand correctly you wish to hides the Tiled specific logic for figuring out what tile to render and where so only the rendering has to be done, right?

I

[2022-07-08 08:07] kaltinril commented on #75
I'm so sorry, I saw your response in my email, and then I completely spaced it until a random thought triggered my memory I never replied to you!

Correct, hide the tiled specific logic.

I don't think you'd need MonoGame specific classes in your library.  Your class would just expect a DrawTile method to be provided to it somehow.

One way, when creating the tiled map object, perhaps there can be

[2022-07-26 12:32] juanferrer opened #77 "Missing opacity from TiledLayer"
One of the attributes in the resulting XML for a layer is opacity, I noticed `TiledLayer` doesn't have this property. Are you accepting PRs?

[2022-07-26 13:01] TheBoneJarmer commented on #77
Just checked and confirmed. And yes, I do accept pull requests but due to this change being so tiny I decided to  just add it myself in the develop branch. If you need it asap feel free to pull it and build it. I have to focus at something else right now so will probably test it thoroughly this evening probably so I can merge it to master. :)

[2022-07-26 13:22] TheBoneJarmer commented on #75
Hey

Sorry for the absolute late reply!! I understand what you mean now and I actually think that is a good idea. But how it would look like, I don't know. Many options to choose from here. I could go for an interface, a delegate, virtual void, ... Will have to give it some thoughts. But thanks for the ideas!

[2022-07-29 05:54] awebmekhilef opened #78 "Incorrect index formula in readme"
Hey.

Your formula for calculating the index given x and y is supposed to be
`(y * _tileLayer.width) + x`
instead of
`(y * _tileLayer.height) + x`.

[2022-08-04 05:36] TheBoneJarmer commented on #78
You are absolutely right, well spotted!

[2022-08-04 05:38] TheBoneJarmer commented on #78
Updated readme in develop branch, change will be available with next release.

[2022-08-04 05:38] #78 closed

[2022-08-05 12:26] TheBoneJarmer commented on #77
Fix has been released!

[2022-08-05 12:26] #77 closed

[2022-08-08 13:26] puthre opened #82 "Cannot get tileoffset of a tileset"
I have the following tileset
[code]
I can't find a way to retrieve the tileoffset values.

Thank you.

[2022-08-08 13:30] TheBoneJarmer commented on #82
Hi @puthre

You are absolutely correct. I was not aware such a thing exists to be honest so I will release a patch NuGet asap. Thank you for letting me know!

With kind regards,
TheBoneJarmer

[2022-08-08 13:47] #53 closed

[2022-08-08 13:51] TheBoneJarmer commented on #82
Alrighty, NuGet package has been released!

[2022-08-08 13:51] #82 closed

[2022-08-10 19:59] BBQGiraffe opened #83 "replace TiledProperty.type with enum"
currently TiledProperty.type is a string, this makes using it quite ugly, could probably use Enum.TypeParse if you convert the type string to uppercase(since int, object, bool, and string are C# types and thus can't be used for enums), then if TryParse fails the type could just default to String

[2022-08-10 20:29] BBQGiraffe opened #84 "use dictionaries instead of arrays for properties"
getting specific items from a TiledProperty array is tedious, it would be much more efficient if properties were in a string indexed dictionary rather than an array

[2022-08-10 21:06] TheBoneJarmer commented on #84
Hey @BBQGiraffe

Thanks for the suggestion. Unfortunately, I can't do it. Properties in Tiled are made up of tree parts. These are `name`, `type` and `value`. A dictionary is only useful for the _name_  and _value_ part. But I think the type is important too since Tiled saves the value as a string in the XML.

With kind regards,
TheBoneJarmer

[2022-08-10 21:06] #84 closed

[2022-08-10 21:08] TheBoneJarmer commented on #83
Hey @BBQGiraffe

Thanks for the suggestion! I think it is a good idea. As a matter of fact, I thought I already done this as I replaced string fields not that long ago with an enum where possible.

With kind regards,
TheBoneJarmer

[2022-08-19 03:14] Frankfires opened #85 "Issues retrieving parallax x/y factors from a TiledLayer"
While being able to retrieve other layer properties from my TiledLayers strangely enough TiledLayer.layer.parallaxX/Y have both always returned 0 for me, which is strange since the default values of the parallax scrolling factors are set to 1. Inside of my .tmx map file I can see the parallax scale factors set for each of my layers and it seems to be correct
![image](https://user-images.githubuser

[2022-08-19 06:39] TheBoneJarmer commented on #85
Hey

Thanks for reporting! I will have a look at it.

With kind regards,
TheBoneJarmer

[2022-08-19 06:44] TheBoneJarmer commented on #85
Hey

I just learned that I wrongly mapped the parallaxX and parallaxY attribute. Fucked that one up pretty good ghehe. Made a patch and hopefully within a few minutes the new NuGet package is available. :D

With kind regards,
TheBoneJarmer

[2022-08-19 15:04] TheBoneJarmer commented on #85
Oh fuck me haha, was not even aware of that. My apologies! And thank you for letting me know. I will correct that and send a new patch on your way. :)

[2022-08-19 15:13] TheBoneJarmer commented on #85
The new NuGet has been published in the meantime. The new version is 3.2.3.

[2022-08-19 21:17] Frankfires commented on #85
Tile/object layers are working like charms, awesome appreciate you fixing this 👍
( I think you just need to touch up on image layers, still getting 0 from both parallax values :P )
![image](https://user-images.githubusercontent.com/67832033/185708309-9eed0b02-193a-4c13-94d6-de8c02e479e3.png)
![image](https://user-images.githubusercontent.com/67832033/185708339-71cabae2-f455-4cb1-b925-0224e8934383.

[2022-08-20 06:18] TheBoneJarmer commented on #85
Hey

Glad to hear!! And thanks for pointing that one out. I made some changes on develop just now that fixes that, added support for the class attribute on a layer (heck, never knew it was possible lol) and done rid of some warnings. I'm cool with releasing another patch but if you don't need this asap I'd rather wait till I got a bunch of stuff again. D:

With kind regards,
TheBoneJarmer

[2022-08-20 06:46] TheBoneJarmer commented on #83
Hey @BBQGiraffe

I would like to let you know I just added support for this in the develop. This change will be available with the next release.

With kind regards,
TheBoneJarmer

[2022-08-20 14:38] Frankfires commented on #85
A quick patch would be greatly appreciated around now but I understand that releasing small tiny minimal patches with very little changes isn't ideal, your call.

[2022-08-20 15:00] TheBoneJarmer commented on #85
Than I'll do it. I was not sure you meant you just noticed or that you actually needed it right now. But it seems the latter is the case. Hence I just pushed out a new release. I already got a notification from TeamCity that the build succeeded so within a couple of minutes the NuGet package should be available. :)

Mind you, it is not a patch this time but a minor release because I changed the pr

[2022-08-20 15:04] TheBoneJarmer commented on #83
Hi @BBQGiraffe

I would like to let you know I just released TiledCS 3.3.0, this version includes this change.

With kind regards,
TheBoneJarmer

[2022-08-20 15:04] #83 closed

[2022-08-20 15:05] TheBoneJarmer commented on #63
I know it has been a while but I finally started doing this. This will result in an kind of different structure here and there hence this feature will be part of TiledCS 4.0.0.

[2022-08-20 15:32] Frankfires opened #87 "v3.3.0 unable to load map files?"
I'm straight up confused. Things were working fine right before I updated, if I downgrade back to v3.2.3 things work fine again.
![image](https://user-images.githubusercontent.com/67832033/185754753-86189401-d9df-473e-a800-cfb74a9c5f2a.png)

[2022-08-20 16:36] TheBoneJarmer commented on #87
That is definitely not good. Could you send the whole stacktrace please?

[2022-08-20 19:33] Frankfires commented on #87
[code]

[2022-08-20 21:02] TheBoneJarmer commented on #87
Thanks! Does the inner exception have a stacktrace by any chance? Because unfortunately this says fuck to me haha

[2022-08-20 21:27] pacoo2454 commented on #87
I am getting the same error when I have an object layer in the tilemap.

[2022-08-20 21:39] TheBoneJarmer commented on #87
Hey @pacoo2454

Thanks for the heads up about the object layer. I didn't had one in my test map **anymore** so I just added one and it went kaboom for me too. So I patched it up and a new version should be on its way in a couple of minutes. :)

With kind regards,
TheBoneJarmer

[2022-08-21 01:36] Frankfires commented on #87
I've updated to 3.3.1 things seem to be working flawlessly ( so far ) 👍

[2022-08-21 02:24] pacoo2454 commented on #87
No problem. That also fixed it for me too! Thanks for the quick update.

[2022-08-21 09:18] TheBoneJarmer commented on #87
Awesome! Glad it works for the both of you. :D

[2022-08-21 09:18] #87 closed

[2022-08-21 12:04] TheBoneJarmer commented on #85
Hey @Frankfires

Just to be certain, you mentioned things work flawlessly in the other issue. Does that mean this one is solved for you as well?

With kind regards,
TheBoneJarmer

[2022-08-21 16:15] Frankfires commented on #85
Yes, I am now able to retrieve parallax values from image layers, thanks for the fix :D

[2022-08-21 18:32] TheBoneJarmer commented on #85
Awesome 😎

[2022-08-21 18:32] #85 closed

[2022-08-25 17:54] Frankfires opened #88 "Issues with objects that belong to tiles"
### Retrieving `Object.type` from a tile's objects returns a blank string, I am able to retrieve x/y/width/height which works out for points and rectangles because you can identify the difference between them by checking if width/height is 0. For ellipses and polygons though I'm afraid it's impossible to check if the object is one of those two
![image](https://user-images.githubusercontent.com/678

[2022-08-25 19:19] Frankfires commented on #88
### UPDATE: it appears that I've forgot to subtract my `TileID` variable by 1 like the half brain celled sack of flesh I am, the out of bounds exception is my fault 🤡

[2022-08-25 20:19] TheBoneJarmer commented on #88
Hey @Frankfires

Concerning your issue with the type field. This works as intended. The `type` field is empty I believe because its default is a rectangle.  When you use a tile as object the `type` field is empty too but the `gid` field is set. And in case of a point, polygon or ellipse, the fields `polygon`, `point` and `ellipse` are set respectively. To be honest I don't know for certain when it

[2022-08-26 04:04] TheBigPrince opened #89 "Feature Request: Template Support"
I'm fairly new to using TiledCS and Tiled. Currently using it with Monogame and it has saved me a tonne of work so thanks for that!

If it's not already on the agenda, I would love to see support for Tiled Templates. Using templates can save a bunch a time in Tiled so it would be a very welcome addition.

Currently when I cycle through objects in a layer, if that object was created from a tiled te

[2022-08-26 05:33] TheBigPrince commented on #89
and I just realised that you can select the "Detach Templates" option under Preferences/Export Options in Tiled, then re-export your map to bypass this issue completely.

![image](https://user-images.githubusercontent.com/20147776/186828524-8e04923c-5bd3-4b0f-9414-b05696215740.png)

Might be worth adding that to the Readme so people new to Tiled & TiledCS (like me) don't stumble into this issue.

[2022-08-26 05:33] #89 closed

[2022-08-26 06:12] TheBoneJarmer commented on #89
Hey @TheBigPrince

At this moment there is no template support and to be fair it was not on the agenda either. However! Tiled happens to come with new features over time and this was one that did not existed at the time I started with TiledCS. And truth to be told, I never used them before so it would have to dive a bit deeper in the matter.

That said, it is nice to know it can be bypassed. And s

[2022-08-27 14:45] Frankfires commented on #88
Aha I got it makes sense now ty! 👍

[2022-08-27 14:45] #88 closed

[2022-08-29 21:34] juanferrer opened #90 "Flipped objects throw an OverflowException on ParseXml"
`ParseObjects` doesn't check nor clear flip flags, so `int.Parse` throws an `OverflowException` when attempting to parse a flipped object.

Started making a pull request, but wasn't sure if you wanted another set of 6 functions called `IsObjectFlipped...` or adding three booleans to the object itself. So I'll leave the implementation to you =].

[2022-08-30 06:35] TheBoneJarmer commented on #90
Hey @juanferrer

Thanks for letting me know. Will have a look at it!

With kind regards,
TheBoneJarmer

[2022-08-30 13:54] TheBoneJarmer commented on #90
Hey @juanferrer

I just published TiledCS 3.3.2. This includes a fix for the error you got as well as extra stuff to fetch the flipped state of a tile linked to an object. To start with, each object now has a field `dataRotationFlag`.  This is similar to the `TiledLayer.dataRotationFlags` field.

And just like with tiles you can use the helper methods `IsTileFlippedDiagonal`, `IsTileFlippedVertica

[2022-09-12 20:21] ironcutter24 opened #92 "Updated MonoGame example"
Hi, while working with TiledCS I made an updated example on how to use it with MonoGame.
It uses as much shorthands as possible and features basic tile scaling and flipping.
You can get the repo [here](https://github.com/ironcutter24/TiledCS-example-MonoGame).

[2022-09-12 21:03] TheBoneJarmer commented on #90
Didn't hear back so I assume all went well. If not do not hesitate to open up this issue again. :)

[2022-09-12 21:03] #90 closed

[2022-09-12 21:04] TheBoneJarmer commented on #92
That is just soo awesome, thanks a lot!! This will certainly help out other MonoGame users. Will add your repo to the readme so others can see it too. :D

[2022-09-12 21:25] juanferrer commented on #90
Oh, sorry. Yes, my bad. The update fixed it. Thanks!

[2022-09-12 21:32] ironcutter24 commented on #92
I'm glad it helps, without your package would have been a nightmare to use a tilemap ✌️

[2022-10-11 11:52] robsoft opened #95 "Add support for TileSet.Spacing and TileSet.Margin"
I appreciate this might be niche, but I came to explore TiledCS using the 'Tiled' example tileset texture **tmw_desert_spacing.png** and I was confused for a bit when I got odd results!

This particular example tileset has a **Spacing** property of 1 and a **Margin** property of 1. I believe these are pixel values, measuring (in Spacing) the number of pixels 'between' successive tiles in the textu

[2022-10-11 12:30] robsoft commented on #95
Sorry - just looked at the outstanding pulls and saw this has already been covered. Sorry to waste your time!

[2022-10-11 12:30] #95 closed

[2022-10-22 11:24] ironcutter24 opened #98 "Unprotected main branch"
I noticed many contributors (including me) made a pull request for the main branch that had to be closed and made again on develop branch. You may consider [protecting](https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches) you main branch to prevent these iterations.